.navber {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 10px;
  font-family: Outfit;
}

.nav-logo {
  position: relative;
  margin-left: 30px;
}
.nav-logo h1 {
  padding: 0px 30px;
  font-size: 60px;
  font-weight: 600;
}
.nav-logo img {
  width: 150px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.nav-menu {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 60px;
  font-size: 20px;
  cursor: pointer;
}
.nav-connect {
  padding: 20px;
  border-radius: 50px;
  background: linear-gradient(267deg, #da7c25 0.36%, #b923e1 102.06%);
  font-size: 22px;
  cursor: pointer;
  transition: 0.5s;
}
.nav-connect:hover {
  transform: scale(1.05);
}

.nav-menu li {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.nav-menu li img {
  display: flex;
  margin: auto;
}

.anchor-link {
  text-decoration: none;
  color: white;
}

.nav-mob-close {
  display: none;
}
.nav-mob-open {
  display: none;
}

@media (max-width: 768px) {
  .navber {
    margin: 20px 50px;
  }
  .nav-connect {
    display: none;
  }
  .nav-mob-open {
    display: block;
    position: fixed;
    right: 30px;
  }
  .nav-mob-close {
    display: block;
    position: relative;
    top: 30px;
    left: 290px;
    width: 30px;
  }
  .nav-menu {
    position: fixed;
    flex-direction: column;
    align-items: start;
    top: 0;
    gap: 30;
    background-color: #1f0016;
    padding-bottom: 100px;
    width: 350px;
    height: 100%;
    z-index: 2;
    transition: right 0.5s;
    right: -350px;
  }
  .nav-menu li {
    font-size: 25px;
    padding-left: 100px;
    flex-direction: column;
    gap: 20px;
  }
  .nav-logo {
    margin-left: 0;
  }
  .nav-logo h1 {
    padding: 0px 20px;
    font-size: 50px;
    font-weight: 600;
  }
  .nav-logo img {
    width: 120px;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
  }
}
